@use 'typography.scss';
@import 'vars';


    
*,
*::after,
*::before {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

*::selection {
  color: $light;
  background-color: $dark;
}


a:link,
a:visited {
    color:inherit;
}

a:active, a:hover {
    text-decoration:none;
    color:rgb(112, 0, 112);
}

hr {
    border:0;
    height:40px;    
    width:447px;
    margin:30px auto;
    &.hr1 {
        background:url('./img/pattern01.svg') repeat-x;
    }

    &.hr2 {
        background:url('./img/pattern02.svg') repeat-x;
    }
}

#homeLogo {
    display:block;
    margin:60px auto;
}

body {
    font-size:24px;
    background:$light;
    color:$dark;
    font-family:'aper'
}


.tickets {
    display:grid;
    max-width:1000px;
    text-align:center;
    grid-template-columns: 1fr 1fr;
    margin:auto;
}

#imageGrid {
    margin:auto;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-column-gap:60px;
}

.name-space {
    transition:color 0.2s;
    position:relative;
}

.name-space:hover {
    -webkit-text-stroke: 1px $dark;
            text-stroke: 1px $light;
            color:$light;
            z-index:501;
}

.small {
    font-size:0.7em;
    // line-height:0.9em;
}

.text-center {
    text-align:center;
}


#sponsors {
    & img {
        display:inline-block;
        vertical-align:middle;
    }
}

table {
    width:100%;
    
}
.right-align {
    text-align: right;
    font-weight:bold;
}

#container {

    
}

.interior {
    
}

.split {
    display:grid;
    grid-template-columns:1fr 1fr 1FR;
    
    & div {
        // text-align:center;
    }
}

p {
    
}

#artworks {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    max-width:1000px;
    margin:auto;
    grid-column-gap:0.5em;
    grid-row-gap:0.5em;

    & .thumb {
        // text-align:center;

        &:hover img {
            transform:scale(0.95);
        }


        &:hover .small {
            transform:translate(0.3em, -0.5em);
        }

        & img {
            // display:inline-block;
            max-width:100%;
            transition:transform 0.2s;

            
        }

        & .small {
            margin-top:0;
            transition:transform 0.2s;
        }
    }
}


#cover {
    position:fixed;
    width:100vw;
    height:100vh;
    background:rgba($light,0.95);
    z-index:10000;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    
    pointer-events:none;
    transition:all 0.3s;

    &.active {
        opacity:1;
        visibility:visible;
        pointer-events:all;
    }

    & img {
        display:block;
        max-width:1000px;
        max-height:calc(100% - 2em);
        
        position:absolute;
        top:1em;
        right:1em;
    }

    & p {
        position: absolute;
        left:1em;
        bottom:1em;
        

    }
}



table {
    max-width:1000px;
    margin:auto;
}


#name-space-pic {
    position:fixed;
    pointer-events:none;
    top:-2100px;
    left:-1100px;
    background:black;
    width:200px;
    height:auto;
    z-index:500;
    transition:all 0.3s;
    transform:translate(-50%,-50%)
}


#footer {
    position:fixed;
    background:$dark;
    color:$light;
    width:100%;
    bottom:0;
    left:0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    font-family: 'gossip';
    text-transform: uppercase;
    padding:0;
    margin:0;
    font-size:6vw;
    height:6.5vw;
    
    border-top:1px solid $light;
    
    & div {
        text-align:center;
        letter-spacing:0.02em;
        & a:link {
            text-decoration: none;;
        }

        & a:hover {
            // color:rgba($light, 0.8);
            -webkit-text-stroke: 1px $light;
            text-stroke: 1px $light;
            color:$dark;
        }
    }
}

@media (max-width:1000px) {
    h1#top {
        top:0;
        left:0;
        
        height:15.5vw;
        font-size:15vw;
        border-bottom:none;
        
        
        
    }


    #artworks {
        grid-template-columns:repeat(2, 1fr);

    }

#cover {
   
    &.active {
        
    }

    & img {
        display:block;
        max-width:80%;
        max-height:80%;
        
        
    }
}
    
    h1#bottom {
        width:100%;
        overflow:hidden;
        border-bottom:1px solid $dark;
        height:15.25vw;
        font-size:15vw;
    }


    #container {
        position:static;
        margin-top:15.5vw;
        height:auto;
        width:100%;
        border-top:none;
        
        
    }

    p {
        margin:0.5em;
    }

    .text-center {
        text-align:left;
    }

    h4 {
        margin:0 0.5rem;
        text-align:left;
    }

    // #name-space-pic {
    //     display:none;
    // }

    .split {
        display:block;
        margin:0 0.5em;

        & div {
            
        }

        & .small {
            margin-top:0;
        }
    }

    #footer {
        font-size:1em;
        bottom:1em;
        height:auto;
        display:flex;
        background:transparent;
       text-align:center; 
        & div {
            display:inline-block;
            background:$dark;
                margin:0 0.25em;
                padding:0.35em;

            & a {

                
                

        
            }
        }
    }

}

