@import 'vars';

@font-face {
    font-family: 'gossipBig';
    src: url('fonts/Gossip-HighSquare.otf') format('opentype');
}

@font-face {
    font-family: 'gossipMed';
    src: url('fonts/Gossip-MedSquare.otf') format('opentype');
}

@font-face {
    font-family: 'gossipSmall';
    src: url('fonts/Gossip-LowSquare.otf') format('opentype');
}


@font-face {
    font-family: 'gossipRoman';
    src: url('fonts/Gossip-Roman.woff2') format('woff2');
}

@font-face {
    font-family: 'aper';
    src: url('fonts/Apercu-Regular.otf') format('opentype'); 
    font-weight:normal;
}

@font-face {
    font-family: 'aper';
    src: url('fonts/Apercu-Bold.otf') format('opentype'); 
    font-weight:bold;
}

@font-face {
    font-family: 'aper';
    src: url('fonts/Apercu-Italic.ttf') format('truetype'); 
    font-weight:normal;
    font-style: italic;
}

@font-face {
    font-family: 'aper-mono';
    src: url('fonts/Apercu-Mono.ttf') format('truetype'); 
    font-weight:normal;
}


h1, h2, h3, h4, h5, h6, p {
    font-weight:normal;
    font-feature-settings: "liga" 1;

}

a:link,
a:visited {
    text-decoration:none;
    
}

a:hover {
    text-decoration:none;
}


 h1, h2, h3, .rule, .big{
font-size:130px;
 }

h1 {
  padding:0;
    
    line-height:0.8;
    font-weight:normal;
    
    text-align:center;
    margin:100px 0 20px 0;
    font-family:'gossipRoman'

    
}
h2 {
  padding:0;
    margin:0;
    line-height:0.8;
    font-weight:normal;
    text-align:center;
    margin:20px 0;
    font-family:'gossipMed'

    
}
h3, .big {
  padding:0;
    margin:0;
    line-height:0.5;
    font-weight:normal;
    text-align:center;
    margin:20px 0;
    font-family:'gossipRoman'

    
}

h4 {
    font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin: 1em 0;
}
 

.rule {
    text-align:center;
    display:block;
    line-height:0;
    margin:60px auto;
    font-family:'gossipRoman';

}

